@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu-screen {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .4s;
  transition: .4s;
}

.menu-screen.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-screen__list {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-screen__listItem {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  width: 60%;
  text-align: center;
  font-family: "Libre Baskerville", "arial", serif;
  font-size: 3rem;
  color: #9d7f84;
  border-bottom: 1px solid #9d7f84;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.menu-screen__listItem:hover {
  color: #252525;
  border-bottom: 1px solid #252525;
}

.menu-hamburger {
  position: fixed;
  display: none;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  cursor: pointer;
}

@media (max-width: 550px) {
  .menu-hamburger {
    display: block;
  }
}

.hamburger {
  position: relative;
  height: 35px;
  width: 50px;
}

.hamburger__item {
  position: absolute;
  width: 80%;
  border: 2px solid #f5f5f5;
  background-color: #f5f5f5;
  top: 0;
  right: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger__item--1 {
  top: calc(50% - 2px);
  width: 100%;
}

.hamburger__item--2 {
  top: calc(100% - 4px);
}

.hamburger.bgcColor .hamburger__item {
  border: 2px solid #9d7f84;
  background-color: #9d7f84;
}

.hamburger.cross-animation .hamburger__item {
  width: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 2px);
  border: 2px solid #c1c1c1;
  background-color: #c1c1c1;
}

.hamburger.cross-animation .hamburger__item--1 {
  opacity: 0;
}

.hamburger.cross-animation .hamburger__item--2 {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: calc(50% - 2px);
}

.movie {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.movie-overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.movie-overlay--opacity {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.movie-overlay__video {
  height: 100%;
}

.movie-overlay__titleContainer {
  position: absolute;
  top: 1vw;
  left: 3vw;
  -webkit-transform: none;
          transform: none;
  text-align: center;
}

@media (max-width: 400px) {
  .movie-overlay__titleContainer {
    top: 0px;
    left: 3px;
  }
}

.movie-overlay__title {
  font-size: .8rem;
  line-height: 1.4;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: "Libre Baskerville", "arial", serif;
}

@media (max-width: 500px) {
  .movie-overlay__title {
    font-size: .5rem;
  }
}

.movie-overlay__big-letter {
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 9px;
  -webkit-transform: translateY(13.5px);
          transform: translateY(13.5px);
}

@media (max-width: 500px) {
  .movie-overlay__big-letter {
    font-size: 1.7rem;
  }
}

@media (max-width: 400px) {
  .movie-overlay__big-letter {
    font-size: 1.5rem;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.movie-overlay__quoteContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-animation: show-quote 1s 1s both;
          animation: show-quote 1s 1s both;
}

.movie-overlay__quote {
  font-size: 3rem;
  color: #f5f5f5;
  line-height: 1.2;
  letter-spacing: 1vw;
  font-family: "Libre Baskerville", "arial", serif;
}

@media (max-width: 500px) {
  .movie-overlay__quote {
    font-size: 2rem;
  }
}

.movie-overlay__scrollContainer {
  position: absolute;
  bottom: 1vw;
  right: 3vw;
}

@media (max-width: 500px) {
  .movie-overlay__scrollContainer {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.movie-overlay__scroll {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  height: 100px;
  width: 3px;
  background-color: #424242;
}

.movie-overlay__scrollItem {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 15px #f5f5f5;
          box-shadow: 0 0 15px #f5f5f5;
  background-color: #f5f5f5;
  -webkit-animation: scroll-item 2s infinite;
          animation: scroll-item 2s infinite;
}

.movie-overlay__scrollTxt {
  color: #f5f5f5;
  letter-spacing: 2px;
  font-family: "Roboto", "arial", serif;
}

@-webkit-keyframes scroll-item {
  0% {
    height: 0;
  }
  50% {
    top: 0;
    height: 100%;
  }
  100% {
    top: 100%;
    height: 0;
  }
}

@keyframes scroll-item {
  0% {
    height: 0;
  }
  50% {
    top: 0;
    height: 100%;
  }
  100% {
    top: 100%;
    height: 0;
  }
}

@-webkit-keyframes show-quote {
  0% {
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes show-quote {
  0% {
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.mainMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 5px 5px -2px #d3d3d3;
          box-shadow: 0 5px 5px -2px #d3d3d3;
}

.mainMenu__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  height: 75px;
}

.mainMenu__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  border-radius: 50px;
}

.mainMenu__img {
  height: 100%;
  width: 100%;
}

.mainMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainMenu .menu__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  white-space: nowrap;
  color: #9d7f84;
  font-family: "Roboto", "arial", serif;
  font-size: 1.2rem;
  border-right: 1px solid #9d7f84;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .mainMenu .menu__item {
    padding: 0 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .mainMenu .menu__item {
    display: none;
  }
}

.mainMenu .menu__item:last-child {
  border: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0 4rem 0;
  background-color: #f5f5f5;
}

@media (max-width: 650px) {
  .main__con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__element {
  padding: 1rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 550px) {
  .main__element {
    padding: 2rem;
  }
}

.main__element--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main__item--main {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.main__imgBorder {
  border: 1px solid #9d7f84;
  border-radius: 10px;
}

.main__img {
  position: relative;
  -webkit-transform: translate(1rem, 1rem);
          transform: translate(1rem, 1rem);
  width: 100%;
  border-radius: 10px;
  border: 1px solid #9d7f84;
}

.main__quote {
  margin: .5rem 0;
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "Libre Baskerville", "arial", serif;
  color: #9d7f84;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
}

.main__quote--darken {
  padding-left: 2rem;
  color: #4a393c;
}

.main__quote--small {
  padding-left: 0;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: #4a393c;
  font-weight: normal;
  text-align: center;
}

.main__text {
  font-family: "Roboto", "arial", serif;
  padding-right: 1rem;
  line-height: 1.3rem;
}

.main__text--bold {
  margin-bottom: 1rem;
  font-weight: bold;
}

.offer {
  background-color: #f5f5f5;
}

.offer__bgc {
  position: relative;
  height: 500px;
  background-image: url("../Assets/Images/table.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.offer__bgc--opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.offer__h2 {
  position: absolute;
  top: 100px;
  margin: 2rem 0;
  width: 100%;
  font-family: "Libre Baskerville", "arial", serif;
  font-style: italic;
  color: #f5f5f5;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
}

@media (max-width: 400px) {
  .offer__h2 {
    top: 25px;
    font-size: 1.5rem;
  }
}

.offer__h2--second {
  font-size: 1.5rem;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

@media (max-width: 400px) {
  .offer__h2--second {
    top: 50px;
  }
}

.offer__con {
  padding: 0 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  .offer__con {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.offer__item {
  position: relative;
  width: 250px;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  border: 1px solid #9d7f84;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 900px) {
  .offer__item {
    width: 200px;
  }
}

@media (max-width: 700px) {
  .offer__item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 90%;
  }
}

.offer__element {
  position: relative;
  -webkit-transform: translate(1rem, 1rem);
          transform: translate(1rem, 1rem);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.offer__elementImg {
  width: 100%;
}

.offer__info {
  min-height: 225px;
  background-color: #f5f5f5;
}

@media (max-width: 700px) {
  .offer__info {
    min-height: 150px;
  }
}

.offer__elementTitle {
  padding: 1rem 0 .5rem 1rem;
  font-family: "Libre Baskerville", "arial", serif;
  font-size: 1.3rem;
  color: #9d7f84;
  font-style: italic;
}

.offer__infoText {
  padding: 1rem;
  font-family: "Roboto", "arial", serif;
}

.gallery {
  background-color: #f5f5f5;
  padding: 0 1rem;
}

.gallery__h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: "Libre Baskerville", "arial", serif;
  text-align: center;
  font-style: italic;
  color: #4a393c;
}

.gallery__h2__rent {
  margin-bottom: 6rem;
  font-size: 2rem;
  font-family: "Libre Baskerville", "arial", serif;
  text-align: center;
  font-style: italic;
  color: #4a393c;
}

.gallery__con {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 1rem;
  height: calc(65vh - 100px);
  overflow: hidden;
  border: 1px solid #9d7f84;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 5px 5px -2px #d3d3d3;
          box-shadow: 0 5px 5px -2px #d3d3d3;
}

.gallery__con.show {
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gallery__imgCon {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 1rem;
  border: 1px solid #9d7f84;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .gallery__imgCon {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 440px) {
  .gallery__imgCon {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (max-width: 360px) {
  .gallery__imgCon {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.gallery__img {
  height: 100%;
  width: 100%;
}

.gallery__showMore {
  position: absolute;
  bottom: 0;
  left: calc(50% - 75px);
  width: 150px;
  background-color: #4a393c;
  color: #f5f5f5;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 2px;
  font-family: "Roboto", "arial", serif;
  border: none;
  border-radius: none;
  cursor: pointer;
}

.contact {
  background-color: #f5f5f5;
}

.contact__con {
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__item {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
}

.contact__item--left {
  padding: 1rem;
  background-color: rgba(250, 250, 250, 0.7);
  border: 1px solid #9d7f84;
}

@media (max-width: 440px) {
  .contact__item--left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact__item--right {
  margin-top: 2rem;
  width: 100%;
  height: 600px;
}

.contact__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Libre Baskerville", "arial", serif;
  text-align: center;
  font-style: italic;
  color: #4a393c;
}

.contact__img {
  margin-right: 1rem;
  width: 20px;
}

.contact__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5rem 0;
  font-family: "Roboto", "arial", serif;
}

.contact__text--pointer {
  cursor: pointer;
  color: #252525;
  text-decoration: none;
}

.footer {
  font-family: "Roboto", "arial", serif;
  background-color: #252525;
  font-weight: normal;
}

.footer__con {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 550px) {
  .footer__con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__item {
  margin: 1rem;
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__item:hover {
  color: #9d7f84;
}

.section {
  min-height: 65vh;
}

.con {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
}

.upBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.upBtn.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.upBtn__img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 100%;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
  50.1% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
  50.1% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */