.subheading {
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}

.gallery__h2__rent {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.grid--2-cols > div {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}