.gallery {
    background-color: $white;
    padding: 0 1rem;

    &__h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
        font-family: $special-font;
        text-align: center;
        font-style: italic;
        color: darken($pink, 30%);
    }

    &__con {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 1rem;
        height: calc(65vh - 100px);
        overflow: hidden;
        border: 1px solid $pink;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: .3s;
        box-shadow: 0 5px 5px -2px #d3d3d3;

        &.show {
            height: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &__imgCon {
        flex-basis: 30%;
        margin: 1rem;
        border: 1px solid $pink;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: 1000px) {
            flex-basis: 40%;
        }

        @media (max-width: 440px) {
            flex-basis: 80%;
        }

        @media (max-width: 360px) {
            flex-basis: 100%;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
    }

    &__showMore {
        position: absolute;
        bottom: 0;
        left: calc(50% - 75px);
        width: 150px;
        background-color: darken($pink,30%);
        color: $white;
        text-transform: uppercase;
        line-height: 2rem;
        letter-spacing: 2px;
        font-family: $regular-font;
        border: none;
        border-radius: none;
        cursor: pointer;
    }
}