.main {
    display: flex;
    align-items: center;
    padding: 4rem 0 4rem 0;
    background-color: $white;

    &__con {
        @media (max-width: 650px) {
            flex-direction: column;
        }
    }

    &__element {
        padding: 1rem;
        flex-basis: 50%;

        @media (max-width: 550px) {
            padding: 2rem;
        }

        &--right {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        flex-basis: 50%;

        &--main {
            flex-basis: 100%;
        }
    }

    &__imgBorder {
        border: 1px solid $pink;
        border-radius: 10px;
    }

    &__img {
        position: relative;
        transform: translate(1rem,1rem);
        width: 100%;
        border-radius: 10px;
        border: 1px solid $pink;
    }

    &__quote {
        margin: .5rem 0;
        padding-left: 1rem;
        font-size: 2rem;
        font-family: $special-font;
        color: $pink;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 2px;

        &--darken {
            padding-left: 2rem;
            color: darken($pink, 30%);
        }

        &--small {
            padding-left: 0;
            padding-bottom: 1rem;
            font-size: 1rem;
            color: darken($pink, 30%);
            font-weight: normal;
            text-align: center;
        }
    }

    &__text {
        font-family: $regular-font;
        padding-right: 1rem;
        line-height: 1.3rem;

        &--bold {
            margin-bottom: 1rem;
            font-weight: bold;
        }
    }
}