.menu-hamburger {
    position: fixed;
    display: none;
    top: 1rem;
    right: 1rem;
    z-index: 3;
    cursor: pointer;

    @media (max-width: 550px) {
        display: block;
    }
}

.hamburger {
    position: relative;
    height: 35px;
    width: 50px;

    &__item {
        position: absolute;
        width: 80%;
        border: 2px solid $white;
        background-color: $white;
        top: 0;
        right: 0;
        transition: .3s;

        &--1 {
            top: calc(50% - 2px);
            width: 100%;
        }

        &--2 {
            top: calc(100% - 4px);
        }
    }

    &.bgcColor {
        .hamburger__item {
            border: 2px solid $pink;
            background-color: $pink;
        }
    }

    &.cross-animation {

        .hamburger__item {
            width: 100%;
            transform: rotate(-45deg);
            top: calc(50% - 2px);
            border: 2px solid $grey;
            background-color: $grey;

            &--1 {
                opacity: 0;
            }

            &--2 {
                width: 100%;
                transform: rotate(45deg);
                top: calc(50% - 2px);
            }
        }
    }
}