.offer {
    background-color: $white;

    &__bgc {
        position: relative;
        height: 500px;
        background-image: url('../Assets/Images/table.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &--opacity {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
        }
    }

    &__h2 {
        position: absolute;
        top: 100px;
        margin: 2rem 0;
        width: 100%;
        font-family: $special-font;
        font-style: italic;
        color: $white;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 2px;

        @media (max-width: 400px) {
            top: 25px;
            font-size: 1.5rem;
        }

        &--second {
            font-size: 1.5rem;
            transform: translateY(3rem);

            @media (max-width: 400px) {
                top: 50px;
            }
        }
    }

    &__con {
        padding: 0 1rem;
        justify-content: space-around;

        @media (max-width: 700px) {
            flex-wrap:wrap;
        }

    }

    &__item {

        position: relative;
        width: 250px;
        transform: translateY(-20%);
        border: 1px solid $pink;
        border-radius: 10px;
        transition: .3s;

        @media (max-width: 900px) {
            width: 200px;
        }

        @media (max-width: 700px) {
            flex-basis: 90%;
            margin-top: 2rem;
            margin-bottom: 2rem;
            height: 90%;
        }
    }

    &__element {
        position: relative;
        transform: translate(1rem,1rem);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 5px black;
    }

    &__elementImg {
        width: 100%;
    }

    &__info {
        min-height: 225px;
        background-color: $white;

        @media (max-width: 700px) {
            min-height: 150px;
        }
    }

    &__elementTitle {
        padding: 1rem 0 .5rem 1rem;
        font-family: $special-font;
        font-size: 1.3rem;
        color: $pink;
        font-style: italic;
    }

    &__infoText {
        padding: 1rem;
        font-family: $regular-font;
    }
}