@import 'reset';
@import 'variables';
@import 'menu-screen';
@import 'menu-hamburger';
@import 'movie';
@import 'mainMenu';
// @import 'main';
@import 'offer';
@import 'gallery';
@import 'contact';
@import 'footer';

.section{
    min-height: 85vh;
}

.con {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
}

.upBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: $white;
    box-shadow: 0 0 5px grey;
    transform: scale(0);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;

    &.show {
        transform: scale(1);
        opacity: 1;
    }

    &__img {
        transform: rotate(-90deg);
        width: 100%;
    }
}

@keyframes up {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-150%);
    }
    50.1% {
        transform: translateY(150%);
    }

    75% {
        transform: translateY(0);
    }

    100%{
        transform: translateY(0);
    }
}